    h1 {background-color: gold;}
    body {background-color: khaki;}
    h2 {color: mediumblue;} 
    p1 {color: navy;} 
    p2 {color: navy;}
    .uno{color: slateblue;}
    .dos{color: slateblue;}
    .tres{color: slateblue;}